.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
}

button {
  color: green; /* Fixed syntax */
  background-color: transparent; /* Changed to transparent for green border effect */
  border: 2px solid green; /* Added border */
  cursor: pointer; /* Pointer on hover */
}

button:hover {
  background-color: rgba(0, 128, 0, 0.1); /* Light green background on hover */
}

.player-data {
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
}

img {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}


.steam-profile {
  color : #00d300;
  text-decoration : none;
}

.recent-matches {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #266e28;
  color: white;
}

tr:nth-child(even) {
  background-color: #444;
}

tr:hover {
  background-color: #555;
}
